<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance System Welcome</title>
    <link rel="stylesheet" href="/static/admin_login.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>
        <div class="info-text login">
            <h2>Welcome to the <br>Attendance System</h2>
            <p>Track and manage attendance efficiently with our user-friendly system. Use the form to log in and access the dashboard.</p>
        </div>
</body>
</html>
